<div class="modal-section">
  
  <img class="modal-img" src="{{logoSrc}}" width="327px" height="421px" alt="">
  <img class="mini-logo" src="{{miniLogoSrs}}" alt="" />
  <div class="form-container">
    <h2 class="titel-gratitude">Спасибо!</h2>
    <p class="titel-gratitude-tex">  Ваш заказ оформлен и передан менеджеру.
    Мы свяжемся с вами для уточнения и подтверждения в ближайшее время.
    </p>
   <p class="titel-gratitude-tex margintex">
    Если вы захотите дополнить свой заказ или уточнить какие-то детали – вы сможете это сделать у оператора.</p>
</div>