:root {
  --main-tex-color: rgba(67, 66, 66, 1);
  --second-tex-color: rgba(0, 0, 0, 1);
  --white-tex-color: rgba(255, 255, 255, 1);
  --formbat-tex-color: rgba(236, 121, 115, 1);
  --activbut-tex-color: rgba(150, 25, 20, 1);

  --backg-pink-color: rgba(234, 209, 208, 1);
  --backg-lightpink-color: rgba(255, 244, 243, 1);
  --backg-red-color: rgba(150, 25, 20, 1);
  --backg-lastline-color: rgba(105, 18, 14, 1);

  --main-tex: 'Montserrat', sans-serif;
  --title-tex: 'Oswald', sans-serif;
}
