<section class="container diet-container" id="diet">
  <div class="diet">
    <h2 class="diet-title">Рационы ZOOOV</h2>
    <p class="diet-tex">
      Система питания взрослой собаки не подойдет для щенка, поэтому мы
      создали разные по составу рационы ZOOOV. Вы сможете заказать
      полноценное питание исходя из возраста, веса и даже вкусовых
      предпочтений вашего друга. ZOOOV заботится о каждой собаке.
    </p>
    <svg class="diet-svg">
      <use href="./images/sprite.svg#icon-ellipse-hero"></use>
    </svg>
  </div>
  <ul class="diet-list" id="rewind">
    <li class="diet-item list" id="1">
      <img class="js-logo" src="./images/diet1.jpg" alt="" />
      <img class="mini-logo" src="./images/minilog.png" alt="" />
      <h3 class="item-titel">Для взрослых собак</h3>
      <p class="title-item">Индейка/Говядина</p>
      <p class="title-item__tex">
        Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
      </p>
      <p class="modal-tex modal-description visually-hidden"> <span class="modal-tex-span">Состав:</span> Мякоть овядины
        (46,5%), мясо индейки (23,5%),
        кости индейки (10%), печень овядины (5%), почки овядины (2,5%),
        рубец овядины (2,5%), кабачок (3%), брокколи (3%), семена
        конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
        конопляное масло.</p>
      <p class="modal-tex modal-value visually-hidden"> <span class="modal-tex-span">Пищевая ценность на
          100г:</span> 174.9 ккал,
        белки 16.45, жиры 11.9, углеводы 0.60</p>
      <p class="title-item__gramage">700г / 500г / 300г / 150г / 100г</p>
      <button class="title-item__button" data-modal-open>Заказать</button>
    </li>
    <li class="diet-item list" id="2">
      <img class="js-logo" src="./images/diet2.jpg" alt="" />
      <img class="mini-logo" src="./images/minilog.png" alt="" />
      <h3 class="item-titel">Для щенков</h3>
      <p class="title-item">Индейка/Говядина</p>
      <p class="title-item__tex">
        Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
      </p>
      <p class="modal-tex modal-description visually-hidden"> <span class="modal-tex-span">Состав:</span> Мякоть овядины
        (46,5%), мясо
        индейки (23,5%),
        кости индейки (10%), печень овядины (5%), почки овядины (2,5%),
        рубец овядины (2,5%), кабачок (3%), брокколи (3%), семена
        конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
        конопляное масло.</p>
      <p class="modal-tex modal-value visually-hidden"> <span class="modal-tex-span">Пищевая ценность на
          100г:</span> 174.9 ккал,
        белки 16.45, жиры 11.9, углеводы 0.60</p>
      <p class="title-item__gramage">700г / 500г / 300г / 150г / 100г</p>
      <button class="title-item__button" data-modal-opens="">
        Заказать
      </button>
    </li>
    <li class="diet-item list" id="3">
      <img class="js-logo" src="./images/diet3.jpg" alt="" />
      <img class="mini-logo" src="./images/minilog2.png" alt="" />
      <h3 class="item-titel">Для взрослых собак</h3>
      <p class="title-item">Баранина/Кролик</p>
      <p class="title-item__tex">
        Подходит для ежедвеного кормления. Богат животными белками и Омега-3.
      </p>
      <p class="modal-tex modal-description visually-hidden"> <span class="modal-tex-span">Состав:</span> Мякоть
        баранины
        (46,5%), мясо кролика (23,5%),
        кости кролика (10%), печень баранины (5%), почки бараньи (2,5%),
        рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
        конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
        конопляное масло.</p>
      <p class="modal-tex modal-value visually-hidden"> <span class="modal-tex-span">Пищевая ценность на
          100г:</span> 174.9 ккал,
        белки 16.45, жиры 11.9, углеводы 0.60</p>
      <p class="title-item__gramage">700г / 500г / 300г / 150г / 100г</p>
      <button class="title-item__button" data-modal-opene="">
        Заказать
      </button>
    </li>
    <li class="diet-item list" id="4">
      <img class="js-logo" src="./images/diet4.jpg" alt="" />
      <img class="mini-logo" src="./images/minilog2.png" alt="" />
      <h3 class="item-titel">Для щенков</h3>
      <p class="title-item">Баранина/Кролик</p>
      <p class="title-item__tex">
        Подходит для ежедневного кормления. Богат животными белками и Омега-3.
      </p>
      <p class="modal-tex modal-description visually-hidden"> <span class="modal-tex-span">Состав:</span> Мякоть
        баранины (46,5%), мясо кролика (23,5%),
        кости кролика (10%), печень баранины (5%), почки бараньи (2,5%),
        рубец бараний (2,5%), кабачок (3%), брокколи (3%), семена
        конопли (2%), шпинат (1%), яблоко (1%), льняное масло,
        конопляное масло.</p>
      <p class="modal-tex modal-value visually-hidden"> <span class="modal-tex-span">Пищевая ценность на
          100г:</span> 174.9 ккал, белки 16.45, жиры 11.9, углеводы 0.60</p>
      <p class="title-item__gramage">700г / 500г / 300г / 150г / 100г</p>
      <button class="title-item__button" data-modal-openen>Заказать</button>
    </li>
  </ul>
  <div class="diet-line">
    <p class="diet-line__tex">
      Рассчитаем в каком количестве нужно кормить вашего хвостика рационами
      Zooov
    </p>
    <button class="diet-line__button" type="button">Расчитать</button>
  </div>
</section>