<footer class="container footer-containet" id="footer">
  <div class="footer-contaks">
    <h2 class="footer-titel">Контакты</h2>
    <p class="footer-tex">Вы всегда можете с нами связаться по телефону или в мессенджерах</p>
    <div class="footer-link">
      <a class="footer-namber link" href="tel:+79000000000">+7 (900)000-00-00</a>
      <a class=" footer-social link" href="https://www.whatsapp.com/" target="_blank">
        <svg class="footer-svg">
          <use href="./images/sprite.svg#icon-WhatsappLogo"></use>
        </svg>
        Написать в WhatsApp</a>
      <a class=" footer-social link" href="https://web.telegram.org/" target="_blank">
        <svg class="footer-svg">
          <use href="./images/sprite.svg#icon-TelegramLogo"></use>
        </svg>
        Написать в Telegram</a>
    </div>
    <p class="footer-insta">
      Подписывайтесь на наш
      <a class="footer-insta" href="https://www.instagram.com" target="_blank">Instagram</a>
      и следите за новостями
    </p>
  </div>
  <div class="forms-container">
    <h3 class="titel-form">Остались вопросы?</h3>
    <p class="titel-form-tex">Напишите нам и мы обязательно подробно на них ответим.</p>
    <form class="footer-form" autocomplete="off">
      <label>
        <input class="form-name" type="text" name="name" placeholder="Имя" required>
      </label>
      <label>
        <input class="form-email" type="email" name="mail" placeholder=" Email" required>
      </label>
      <label>
        <textarea class="fotm-texterea" placeholder="Ваш вопрос..."></textarea>
      </label>
      <label class="check-tex">
        <input class="chekbox-input" type="checkbox" name="message" required>
        <span class="icon-chekt"></span>
        Даю согласие на обработку <br class="br-fot"> персональных данных
      </label>
      <button class="form-button" type="submit">Отправить</button>
    </form>
  </div>
  <img class="fot-dog" src="./images/fot-dog.png" alt="">
  <img class="fot-meat" src="./images/fot-meat.png" alt="">
  <img class="fot-apple" src="./images/fot-apple.png" alt="">
  <img class="fot-frame" src="./images/Frame.png" alt="">
  <img class="fot-frame1" src="./images/frame1.png" alt="">
  <img class="fot-frame1s" src="./images/Frame1s.png" alt="">
  <img class="fot-frame2" src="./images/Frame1s.png" alt="">
  <img class="fot-frame3" src="./images/Frame1s.png" alt="">
</footer>