<header class="heder-section container ">

  <a href="">
    <img class="logo" src="./images/Logo.jpg" alt="" />
  </a>
  <nav class="nav">
    <button class="mobile-btn" type="menu">
    </button>
    <button class="mobile-btn__close visually-hidden " type="menu">

    </button>
    <ul class="header-item">
      <li class="header-items list">
        <a class="header-list link" href="#what-is-buff">BARF</a>
      </li>
      <li class="header-items list">
        <a class="header-list link" href="#diet">Рационы</a>
      </li>
      <li class="header-items list">
        <a class="header-list link" href="#zooov">ZOOOV</a>
      </li>
      <li class="header-items list">
        <a class="header-list link" href="#lovezooov">О нас</a>
      </li>
      <li class="header-items list">
        <a class="header-list link" href="#receive">Доставка</a>
      </li>
      <li class="header-items list">
        <a class="header-list link" href="#questions">FAQ</a>
      </li>
      <li class="header-items list">
        <a class="header-list link" href="#footer">Контакты</a>
      </li>
      <button class="hero-buttons" href="#diet" type="button">Выбрать рацион</button>
    </ul>

  </nav>
</header>