<header class="header container ">
  <a href="">
    <img class="logo-scrol" src="./images/logoscroll.jpg" alt="" />
  </a>
  <nav class="nav navyy" id="nav">
    <ul class="header-scrol-item">
      <li class="header-scrol-items list">
        <a class="header-scrol-list link" href="#what-is-buff">BARF</a>
      </li>
      <li class="header-scrol-items list">
        <a class="header-scrol-list link" href="#diet">Рационы</a>
      </li>
      <li class="header-scrol-items list">
        <a class="header-scrol-list link" href="#zooov">ZOOOV</a>
      </li>
      <li class="header-scrol-items list">
        <a class="header-scrol-list link" href="#lovezooov">О нас</a>
      </li>
      <li class="header-scrol-items list">
        <a class="header-scrol-list link" href="#receive">Доставка</a>
      </li>
      <li class="header-scrol-items list">
        <a class="header-scrol-list link" href="#questions">FAQ</a>
      </li>
      <li class="header-scrol-items list">
        <a class="header-scrol-list link" href="#footer">Контакты</a>
      </li>
    </ul>
  </nav>
</header>