<section class=" hero-container container">
  <div class="hero-eclipse">
    <h1 class="hero-title">Питание, <br class="pere-hero"> которое полюбит ваш хвостик</h1>
    <svg class="hero-svg">
      <use href="./images/sprite.svg#icon-ellipse-hero"></use>
    </svg>
    <p class="hero-tex">
      Натуральные рационы питания для собак по системе BARF
    </p>
    <button class="hero-button" href="#diet" type="button">Выбрать рацион</button>
    <svg class="zoov">
      <use href="./images/sprite.svg#icon-zoov-hero"></use>
    </svg>
  </div>
</section>