<section class="container lovezooov-container" id="lovezooov">
  <div class="lovezooov">
    <div class="lovezooov__img">
      <img class="img-se5" src="./images/img-sec5-1.jpg" alt="" />
      <div class="img-pos">
        <img class="img-se5-1" src="./images/img-sec5-2.jpg" alt="" />
      </div>
      <img class="imgdog" src="./images/imgdog.png" alt="">
      <img class="imgheat" src="./images/imgheat.png" alt="">
    </div>
    <div>

      <h2 class="lovezooov-title">С заботой и любовь <br> от Zooov</h2>
      <p class="lovezooov_tex">
        Мы сами владельцы собак и знаем, как важно правильное и качественное
        питание для долгой и счастливой жизни вашего питомца. Для нас ZOOOV это
        не просто бизнес, это наш вклад в повышение качества жизни всех собак.
      <pre></pre>
      Мы знаем, как правильно подобрать и переработать мясо, субпродукты,
      овощи и фрукты, чтобы питание вашего питомца было максимально
      сбалансированным и полезным.
      <pre></pre>
      Обычного сырого мяса из магазина будет
      недостаточно для полноценного питания собаки.
      ZOOOV — экономия времени,
      вам не придется искать необходимые составляющие для рациона.
      <pre></pre>
      Мы сами
      отбираем мясо, кости, легкие, печень и другие говяжьи, кроличьи и птичьи
      субпродукты у проверенных поставщиков.
      Закупаем органические овощи и
      используем разнообразные масла, такие как конопляное и льняное.
      <pre></pre>
      ZOOOV —
      это удобно, мы доставляем готовый рацион на две недели уже смешанным,
      расфасованным и упакованным в порционные лотки,готовыми к заморозке. За
      два часа до кормления достаточно переместить контейнер из морозилки в
      холодильник для ПРАВИЛЬНОЙ разморозки.</p>
    </div>
  </div>
</section>