<section class="container questions-container" id="questions">
  <h2 class="questions-titel">Частые вопросы</h2>
  <ul class="questions-list">
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">Не опасны ли бактерии, которые находятся в сыром мясе?</h3>
        <button class="questions-btn" type="button"></button>

        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>
    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">Надо ли давать дополнительно витамины к рациону BARF?</h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>

    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">
          А если моя собака уже давно питается промышленным кормом и у нее нет
          проблем со здоровьем?
        </h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>

    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">
          Можно ли смешивать натуральный корм и корм промышленного
          производства?
        </h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>

    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">
          Могу ли я сам составить для своей собаки рацион по системе BARF?
        </h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>

    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">Присутствует ли в ZOOOV рационах рыба?</h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>

    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">Как перевести питомца на натуральное питание?</h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>

    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">Как готовить рацион ZOOOV?</h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>
      <hr>

    </li>
    <li class="questions-item list">
      <div class="questions-btn-poz">
        <h3 class="questions-title">
          При переходе на рацион ZOOOV у собаки начались проблемы с ЖКТ. Это
          нормально?
        </h3>
        <button class="questions-btn" type="button"></button>
        <p class="questions-tex">У здоровых собак отличная иммунная система, готовая ко всем видам бактерий. Рацион
          BARF как раз укрепит иммунитет вашей собаки и защитит ее от влияния бактерий, которые находятся на улице или
          даже в вашем доме.</p>
      </div>


    </li>
  </ul>
</section>