<section class="container receive-container" id="receive">
  <div class="receive-height">
    <h2 class="receive-titel">Как получить ZOOOV?</h2>
    <ul class="receive-list">
      <div class="zoov-colum">
        <li class="list receive-item">
          <h3 class="receive-items packagesvg ">Закажите рацион</h3>
          <img class="arrow1" src="./images/arrow.svg" alt="">
          <p class="receive-tex">
            Выберите рацион для своей собаки. Если не знаете сколько и какой –
            <a class="receive-link" href="">мы подскажем.</a>
          </p>
        </li>
        <li class="list receive-item">
          <h3 class="receive-items phonecallsvg">Подтвердите заказ</h3>
          <img class="arrow2" src="./images/arrow.svg" alt="">
          <p class="receive-tex">
            Мы свяжемся с вами для подтверждения заказа и уточнения деталей.
          </p>
        </li>
      </div>
      <div class="zoov-colum">
        <li class="list receive-item">
          <h3 class="receive-items clocksvg">Ожидайте доставки</h3>
          <img class="arrow3" src="./images/arrow.svg" alt="">
          <p class="receive-tex">
            Привозим заказ на следующий день. По СПб – 350₽, при заказе от 3
            500₽ – бесплатно. Лен. область – по договоренности.
          </p>
        </li>
        <li class="list receive-item pozition-vector">
          <h3 class="receive-items heartsvg arrowsvg">Радуйте своего питомца</h3>
          <svg class="zooov-vector9">
            <use href="./images/sprite.svg#icon-vector6"></use>
          </svg>
          <svg class="zooov-vector10">
            <use href="./images/sprite.svg#icon-vector7"></use>
          </svg>
          <svg class="zooov-vector11">
            <use href="./images/sprite.svg#icon-vector8"></use>
          </svg>
          <p class="receive-tex">
            Просто разморозьте рацион: при комнатной температуре – 3 часа, в
            холодильнике – 12-15 часов.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>