<section class="container zooov-container" id="zooov">
  <div class="vectorzooov">
    <h2 class="zooov">Почему ZOOOV</h2>
    <svg class="zooov-vector3">
      <use href="./images/sprite.svg#icon-vector3"></use>
    </svg>
    <svg class="zooov-vector4">
      <use href="./images/sprite.svg#icon-vector4"></use>
    </svg>
    </svg>
    <svg class="zooov-vector5">
      <use href="./images/sprite.svg#icon-vector5"></use>
    </svg>
  </div>
  <ul class="zooov-list">
    <div class="zoov-colum">
      <li class="zooov-item list">
        <h3 class="zooov-titel leafsvg">Натурально</h3>
        <p class="zooov-tex">
          Все продукты тщательно <br class="por">
          отбираем <br class="per"> у проверенных <br class="por">
          поставщиков.
        </p>
      </li>
      <li class="zooov-item list">
        <h3 class="zooov-titel heardsvg">Здорово</h3>
        <p class="zooov-tex">
          Система питания, которая <br class="por"> <br class="per">
          продлевает жизнь <br class="por">
          вашего хвостика.
        </p>
      </li>
    </div>
    <div class="zoov-colum">
      <li class="zooov-item list">
        <h3 class="zooov-titel rocketsvg">Быстро</h3>
        <p class="zooov-tex">
          Сделайте заказ на сайте<br class="por">
          и с вами <br class="per"> свяжется наш <br class="por">
          менеджер <br class="per">для уточнения <br class="por">
          деталей.
        </p>
      </li>
      <li class="zooov-item zov-vector list">
        <h3 class="zooov-titel smileysvg">Удобно</h3>
        <svg class="zooov-vector6">
          <use href="./images/sprite.svg#icon-vector6"></use>
        </svg>
        <svg class="zooov-vector7">
          <use href="./images/sprite.svg#icon-vector7"></use>
        </svg>
        <svg class="zooov-vector8">
          <use href="./images/sprite.svg#icon-vector8"></use>
        </svg>
        <p class="zooov-tex">
          Достаточно разморозить порцию<br class="por"> <br class="per">
          ZOOOV, удалить отрывную<br class="por">
          крышку <br class="per">с лотка и обед для<br class="por">
          вашего питомца <br class="per">готов.
        </p>
      </li>
    </div>
  </ul>
</section>